body {
  overflow: hidden; /* Hide scrollbars */
}
.book .book-body .page-wrapper .page-inner section.normal code {
  background-color: red;
}
.normal .markdown-section p
{
  background-color: green;
}
